services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    image: nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - wp_volume:/var/www/html
    networks:
      - inception
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    image: wordpress
    depends_on:
      - mariadb
    env_file: .env
    volumes:
      - wp_volume:/var/www/html
    networks:
      - inception
    restart: always

  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    image: mariadb
    env_file: .env
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception
    restart: always

  redis:
    build: ./requirements/bonus/redis
    container_name: redis
    image: redis
    networks:
      - inception
    restart: always

  ftp:
    build: ./requirements/bonus/ftp
    container_name: ftp
    image: ftp
    env_file:
      - .env
    ports:
      - "2121:21"
      - "21000-21010:21000-21010"
    volumes:
      - wp_volume:/home/ftpuser
    networks:
      - inception
    restart: always

  website:
    build: ./requirements/bonus/website
    container_name: website
    image: website
    ports:
      - "8080:80"
    networks:
      - inception
    restart: always

  adminer:
    build: ./requirements/bonus/adminer
    container_name: adminer
    image: adminer
    ports:
      - "8081:8080"
    networks:
      - inception
    restart: always

  netdata:
    build: ./requirements/bonus/netdata
    container_name: netdata
    image: netdata
    ports:
      - "19999:19999"
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - inception
    restart: always

volumes:
  db_data:
    driver: local
    name: db_data
    driver_opts:
      type: none
      device: /home/aroullea/data/mariadb
      o: bind

  wp_volume:
    driver: local
    name: wp_volume
    driver_opts:
      type: none
      device: /home/aroullea/data/wordpress
      o: bind

networks:
  inception:
    name: inception
    driver: bridge
