services:
  nginx:
    build: ./requirements/nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - wp_volume:/var/www/html
    networks:
      - inception
    restart: always

  wordpress:
    build: ./requirements/wordpress
    depends_on:
      - mariadb
    env_file: .env
    volumes:
      - wp_volume:/var/www/html
    networks:
      - inception
    restart: always

  mariadb:
    build: ./requirements/mariadb
    env_file: .env
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception
    restart: always

  redis:
    build: ./requirements/bonus/redis
    volumes:
      - redis_volume:/data
    networks:
      - inception
    restart: always

  ftp:
    image: delfer/alpine-ftp-server
    container_name: ftp
    env_file:
      - .env
    ports:
      - "2121:21"
      - "21000-21010:21000-21010"
    volumes:
      - wp_volume:/home/ftpuser
    networks:
      - inception
    restart: always

volumes:
  db_data:
    driver: local
    driver_opts:
      type: none
      device: /home/aroullea/data/mariadb
      o: bind

  wp_volume:
    driver: local
    driver_opts:
      type: none
      device: /home/aroullea/data/wordpress
      o: bind

  redis_volume:
    driver: local
    driver_opts:
      type: none
      device: /home/aroullea/data/redis
      o: bind

networks:
  inception:
    driver: bridge
