services:
  nginx:
    build: ./requirements/nginx
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
    depends_on:
      - wordpress
    volumes:
      - wp_volume:/var/www/html
    networks:
      - inception-network

  wordpress:
    build: ./requirements/wordpress
    depends_on:
      - mariadb
    env_file: .env
    volumes:
      - wp_volume:/var/www/html
    networks:
      - inception-network
    restart: unless-stopped

  mariadb:
    build: ./requirements/mariadb
    restart: unless-stopped
    env_file: .env
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - inception-network

volumes:
  dbdata:
  wp_volume:

networks:
  inception-network:
    driver: bridge
