services:
  nginx:
    build: ./requirements/nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - wp_volume:/var/www/html
    networks:
      - inception
    restart: always

  wordpress:
    build: ./requirements/wordpress
    depends_on:
      - mariadb
    env_file: .env
    volumes:
      - wp_volume:/var/www/html
    networks:
      - inception
    restart: always

  mariadb:
    build: ./requirements/mariadb
    ports:
      - "3306:3306"
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MARIADB_DATABASE}
      MYSQL_USER: ${MARIADB_USER}
      MYSQL_PASSWORD: ${MARIADB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception-network
    restart: always

volumes:
  db_data:
  wp_volume:

networks:
  inception:
    driver: bridge
