[client]
port = 3306
socket = /var/lib/mysql/mysql.sock

[mysqld]
user = mysql
port = 3306
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock

skip-host-cache
skip-name-resolve
bind-address = 0.0.0.0

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

innodb_buffer_pool_size = 256M
innodb_log_file_size = 128M
max_connections = 100

[mysql]
default-character-set = utf8mb4
